<footer class="bg-customBlack p-4 pl-4 text-white">
  <div class="mb-4 flex flex-col justify-evenly gap-4 sm:flex-row">
    <!-- LOGO Y REDES -->
    <div class="font-roboto">
      <a routerLink="/" class="mb-4 flex items-center">
        <img src="assets/img/logo.png" alt="logo de adoptame" class="h-10" />
        <p class="ml-4 font-montserrat text-2xl font-bold">Adóptame, plataforma de adopción</p>
      </a>
      <div class="flex w-full flex-col justify-between sm:flex-row sm:items-center">
        <p class="font-bold">Síguenos en nuestras redes sociales:</p>
        <div class="flex gap-2">
          <img class="h-8 w-8" src="assets/img/facebook.png" alt="Facebook" />
          <img class="h-8 w-8" src="assets/img/instagram.png" alt="Instagram" />
          <img class="h-8 w-8" src="assets/img/twiter.png" alt="Twitter" />
          <img class="h-8 w-8" src="assets/img/linkedin.png" alt="LinkedIn" />
          <img class="h-8 w-8" src="assets/img/youtube.png" alt="YouTube" />
        </div>
      </div>
    </div>

    <!-- HORARIO -->
    <div>
      <p class="font-bold">Horario de atención</p>
      <p>De Lunes a Sábado de 9 a 18 horas</p>
    </div>

    <!-- CONTACTO -->
    <div>
      <p class="font-bold">Contacto</p>
      <p>948000000</p>
      <p>info@adoptame.es</p>
    </div>
  </div>

  <!-- COPYRIGHT -->
  <div class="sm:text-center">
    <span>2025 ©Adóptame - Todos los derechos reservados</span>
  </div>
</footer>

